* {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.outer {
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 1110px;
}

.first-screen {
  height: 740px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 65, 73, 0.9)), to(rgba(64, 65, 73, 0.9))), #404149;
  background: linear-gradient(0deg, rgba(64, 65, 73, 0.9), rgba(64, 65, 73, 0.9)), #404149;
  background-image: url(src/Rectangle.png);
}

.first-screen-inner {
  padding-top: 20px;
  margin: 0 auto;
}

.first-screen-inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-screen-inner-text {
  margin-top: 130px;
  text-shadow: black 0px 2px 2px;
  color: white;
  text-align: center;
}

.first-screen-inner-text-h1 {
  line-height: 104px;
  font-size: 64px;
  font-weight: 500;
}

.first-screen-inner-text-h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.numbers {
  position: absolute;
}

.numbers-inner {
  margin: 590px auto;
  background: #F7F7F7;
  width: 1110px;
  height: 300px;
}

.numbers-inner-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.numbers-inner-grid-column {
  text-align: center;
}

.numbers-inner-grid-column .num {
  padding-top: 57px;
  margin-bottom: 25px;
  color: #f7654a;
  font-size: 72px;
  font-weight: 500;
}

.numbers-inner-grid-column .header {
  margin-bottom: 10px;
}

.numbers-inner-grid-column .subheader {
  color: #999999;
}

.projects {
  padding-top: 900px;
}

.projects-inner {
  margin: 90px auto;
}

.projects-inner-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-inner-items-item {
  width: 350px;
}

.projects-inner-items-item .rectangle {
  margin-top: 45px;
  width: 55px;
  height: 6px;
  background: #F7654A;
  margin-bottom: 15px;
}

.projects-inner-items-item .header {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  font-style: normal;
  color: #404149;
}

.projects-inner-items-item .subheader {
  color: #999999;
  line-height: 22px;
  font-size: 16px;
}

.projects-inner > .header {
  color: #404149;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.request {
  height: 181px;
  background: #F7654A;
}

.request-inner {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request-inner-text {
  margin-top: auto;
}

.request-inner-text .header {
  color: #FFFFFF;
  letter-spacing: 0.02em;
  line-height: 71px;
  font-size: 48px;
  font-weight: bold;
}

.request-inner-text .subheader {
  color: #FFFFFF;
  letter-spacing: 0.02em;
  line-height: 36px;
  font-size: 24px;
  font-weight: bold;
}

.request-inner-button {
  margin-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ffffff;
  padding: 15px;
}

.request-inner-button-text {
  padding-left: 15px;
  color: black;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.services-inner-header {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 66px auto;
}

.services-inner-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.services-inner-items-item {
  width: 350px;
  height: 250px;
  background: #F7F7F7;
}

.services-inner-items-item-logo {
  margin: 60px 145px 20px;
}

.services-inner-items-item-text {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  padding-bottom: 60px;
}

.portfolio-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questions-inner {
  margin-top: 150px;
  margin-bottom: 150px;
}

.questions-inner-header {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
}

.questions-inner-item {
  margin-top: 40px;
}

.questions-inner-item-logo {
  margin-right: 15px;
  display: inline;
}

.questions-inner-item-header {
  display: inline;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #F7654A;
}

.questions-inner-item-text {
  margin-top: 30px;
  width: 730px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}

.partners {
  background: #404149;
}

.partners-inner-header {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
}

.partners-inner-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

.reviews-inner {
  margin: 150px auto;
}

.reviews-inner-header {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.reviews-inner-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-inner-items-section {
  margin-top: 60px;
}

.reviews-inner-items-section-item {
  padding: 30px;
  background: #F7F7F7;
}

.reviews-inner-items-section-item-logo {
  margin-bottom: 20px;
}

.reviews-inner-items-section-item-quote {
  width: 290px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
}

.reviews-inner-items-section-author {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
}

.reviews-inner-items-section-author span {
  color: #F7654A;
}

.contacts-inner {
  margin: 150px auto;
}

.contacts-inner-header {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 60px;
}

.contacts-inner-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-inner-items-item-logo {
  display: inline;
  margin-left: 42%;
}

.contacts-inner-items-item-header {
  margin-top: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #999999;
}

.contacts-inner-items-item-subheader {
  margin-top: 25px;
  width: 255px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-align: center;
}

.contacts-inner-items-item-subheader a {
  color: #F7654A;
}

.footer {
  background: #404149;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */